  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Segoe UI', Tahoma, sans-serif;
    ;
    font-size: 100%;
    /* background-color: #e1e4eb; */
    background-color: #f0f0f0;

  }

  a {
    text-decoration: none;
    color: white;
  }

  .clear {
    clear: both;
  }

  .main {
    padding-top: 7em;
  }

  .main p {
    font-size: 1.4em;
  }

  .page {
    color: #e4572e !important;
  }

  .logo img {
    width: auto;
    height: 5em;
    border-radius: 50px;
  }
  .orange {
    color:#e4572e;
  }



  nav {
    width: 100%;
    height: 7em;
    border-color: transparent;
    float: left;
    z-index: 1000;
    position: fixed;
    top: 0px;
    background-color: #e1e4eb;
    transition: all 0.3s;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-scroll {
    background-color: #e1e4eb;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);

  }

  .nav-scroll a {
    color: black;
  }



  nav a {
    color: rgb(0, 0, 0);
  }

  nav ul li:last-child a {
    color: #fff;
  }

  nav ul {
    text-decoration: none;
    list-style: none;
    background-color: transparent;
    width: 55%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: black;

  }

  nav a:hover {
    color: #ea6036;
  }

  nav li {
    display: inline;
    background-color: transparent;
    padding-top: 5px;
  }

  nav ul li:last-child {
    background-color: #e4572e;
    border-radius: 25px;
    padding: 5px 15px;

  }

  nav ul li:last-child:hover {
    background-color: #ea6036;
  }

  nav ul li:last-child a:hover {
    color: white;
  }

  .hero {
    position: relative;
    background-image: url('images/spotNew.jpg');
    background-size: cover;
    color: white;
    height: 45em;
    padding: 4%;
  }

  .hero .text {
    margin: 7% 15% 0;
  }

  .hero h1 {
    font-size: 6em;
    margin: 0;
  }

  .hero p {
    font-size: 2.5em;
    max-width: 15em;
    margin: 0;
  }

  .hero .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 20em;
  }

  .hero .buttons div {
    background-color: #e4572e;
    color: white;
    border-radius: 3px;
    padding: 10px 30px 10px 30px;

  }

  .hero .buttons div:hover {
    background-color: #ea6036;
  }


  /**main*/
  main {
    width: 80%;
    margin: 0px auto;
    /* I did it myself. 0px - top margin, auto - left and right*/
    background-color: #f0f0f0;
    padding: 0px 15px;
    padding-bottom: 15em;
  }



  .gallery {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    margin-top: 25px;

  }


  .gallery .galleryUnit {
    flex: 1;
    max-width: 30%;
    min-width: 30%;
    margin-bottom: 1.5em;
  }



  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0;
  }



  .caption {
    padding: 3px;
    background-color: white;
    text-align: center;
  }



  .caption p {
    font-size: 14px;
  }

  @media screen and (max-width: 640px) {
    .gallery {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
    }

    .gallery .galleryUnit {
      flex: 1;
      min-width: 99%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .caption {
    padding: 10px;
    background-color: white;
    text-align: center;
    height: 10em;
  }

  .caption h3 {
    margin-top: 0.3em;
    margin-bottom: 0.4em;
    font-size: 1.8em;
  }

  .caption p {
    font-size: 1.3em;
  }

  /******* Main Articles*******/
  /******* Main Articles*******/
  /******* Main Articles*******/
  .mainSections .articleUnit:hover {
    background-color: #f8f8f8 !important;
  }

  .articleUnit {
    padding: 1em;
    margin-top: 5em;
    border-radius: 20px;
    padding-right: 2em;
    
  }
  .articleImage img {
    height: 25em;

  }

  .rightArticle img {
    /*https://www.w3schools.com/css/css3_object-fit.asp */
    width: 100%;
    border-radius: 20px;
  }
  .info img {
    height: 15em;
    object-fit: cover;
    border-radius: 0;
  }

  img {
    display: block;
    width: 100%;
    border-radius: 20px;
    margin: 0em 0.8em;
  }

  .rightArticle .articleImage {
    width: 55%;
    float: left;

  }

  .leftArticle .articleImage {
    width: 55%;
    float: right;
    
  }

  .articleText {
    padding-top: 2em;
    text-align: center;
    color: black;
  }

  .articleText h3 {
    font-size: 1.9em;
  }

  .articleText p {
    font-size: 1.3em;
  }

  /*****Main Articles End****/
  /*****Main Articles End****/
  /*****Main Articles End****/






  #news .galleryUnit {
    max-width: 21%;
    min-width: 23%;

  }

  #news .galleryUnit img {
    border-radius: 0;
    height: 10em;
  }

  #news .galleryUnit .caption {
    background-color: #f0f0f0;
  }

  #news .galleryUnit .caption h3 {
    padding: 0%;
    margin: 0%;
    text-align: left;
    font-size: 1.1em;
  }

  #news .galleryUnit .caption p {
    padding: 0%;
    margin: 0%;
    margin-top: 5px;
    text-align: left;
    font-size: 1em;
  }
 








  /********FOOter******/

  footer {
    padding: 40px;
    border-top: 2px solid #e25e0e;
    background-color: #0d0d0d;
    color: #fff;
  }

  .footer-top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  .footer-section {
    margin: 10px 20px;
    text-align: center;
  }

  .footer-section h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .footer .social {
    text-align: center;
    margin-bottom: 30px;
  }

  .social h3 {
    color: #f26522;
    margin-bottom: 15px;
  }

  .footer-bottom {
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
  }

  .footer-top {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  footer .footer-top a:hover {
    color: #ea6036;
  }

  footer .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  footer .footerButton {
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #fff;
    width: 15em;
    text-align: center;
  }

  footer .footerButton:hover {
    color: black;
    background-color: white;
  }

  @media (max-width: 640px) {
    .footer-top {
      flex-direction: column;
      align-items: center;
    }

    .footer .buttons {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      /*https://blog.hubspot.com/website/center-div-css#:~:text=Set%20the%20display%20property%20to,the%20div)%20vertically%20and%20horizontally.*/
    }
  }

  /*************Footer     end*******/
  /*************Footer     end*******/
  /*************Footer     end*******/










  /************* History Tab Articles****************/



  article .articleContainer {
    padding: 10px 20px;
    border-bottom: 2px solid #d3d3d3;
    padding-bottom: 3px;
  }

  article .title {
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;

  }

  article .artText p {
    font-size: 20px;
  }

  article .artText h3 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }

  article ul {
    list-style: none;
    padding-left: 10px;
  }

  article ul li {
    margin: 0.5em;
  }

  /*********Volunteer********/

  #volunteerMain {
    display: flex;
    gap: 6em;
    width: 60%;
  }
  .volunteerHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/headerTwo.jpg') !important; 
        /*https://www.w3schools.com/cssref/pr_background-blend-mode.php*/

  }
  .formText {
    order: -1;
    flex:1;
    margin-top: 3em;
    font-size: 1.5em;
    padding-left: 1em;
    border-left: 3px solid #e4572e;
    text-align: justify;
  }
  fieldset {
    border: 0px;
    line-height: 1.5;
  }


  .form {
    padding: 10px;
    order: 2;
    flex: 1;
  }

  .formRow {
    display: flex;
    gap: 1em;
    /*https://www.w3schools.com/cssref/css3_pr_gap.php*/
    justify-content: space-between;
  }

  input,
  textarea,
  select {
    padding: 0.75rem;
    border: 1px solid #000000;
    border-radius: 12px;
    font-size: 1rem;
    resize: vertical;
  }

  .rows {
    display: flex;
    flex-direction: column;
  }

  .formUnit {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .button {
    background-color: white;
    margin-top: 1em;
  }

  .enroll {
    background-color: #e4572e;
    color: white;
    font-weight: bold;
    border: none;
  }

  .enroll:hover {
    background-color: #ea6036;
  }

  legend {
    text-align: center;
  }

  /*********About Us********/


  .header {
    margin-top: 6em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('images/headerOne.webp'), url('images/headerOne.jpg');
    /*https://www.w3schools.com/cssref/pr_background-blend-mode.php*/
    height: 15em;
  }

  #aboutUsMain img {
    margin: 3em 4em;
    height: 40em;
    width: auto;

  }

  #aboutUsMain .aboutUsHistory {
    display: flex;
    gap: 1em;
  }
  #aboutUsMain .aboutUsHistory .aboutHistoryText {
    flex: 1;
  }

  #aboutUsMain h3 {
    font-size: 3.5em;
  }



  /******Contact Us********/  /******Contact Us********/  /******Contact Us********/

  #contactUsMain {
    display: flex;
    gap: 5em;
  }
  #contactMessage {
    flex: 2;
    padding: 0 5em;
  }
  #contactInfo {
    flex: 1;
    margin-top: 2em;
  }
  #contactInfo p {
    font-size: 1.2em;
  }
  
  .accounts {
    display: flex;
    justify-content: center;
  }
  .emailUs p a {
    color: #000;
    text-decoration: underline;
  }

  /******DONATE********/  /******DONATE********/  /******DONATE********/
  #donateHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/donate.jpg');
    /*https://www.youtube.com/watch?v=axQ7eN2oPu0&t=396s&ab_channel=ByteGrad Navbar Transparent to Solid Color*/
    
      display: flex;
      gap: 6em;
      height: 100vh;
  
  }
  #donateForm {
    background-color: #ffffff;
    color:#000;
    border-radius: 20px;
    padding-bottom: 2em;
  }
  .donateMain {
    display: flex;
    background-color: transparent;
    padding-bottom: 10em;
    justify-content: center;
    height: min-content;
  }
  .donateMain .formText {
    margin-top: 0;
  }

  .donateButtons {
    display: flex;
    justify-content: space-between;
    min-width: 30%;
    max-width: 30%;
    gap: 1em;
  }
  /******SITEMAP********/   /******SITEMAP********/   /******SITEMAP********/ 
  
  #setemapMain div p {
    color:#000;
    font-size: 1.5em;
  }